<%= form_for([@restaurant, @local]) do |f| %>
  <% if @local.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@local.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
      <% @local.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_1 %><br>
    <%= f.text_field :phone_1 %>
  </div>
  <div class="field">
    <%= f.label :phone_2 %><br>
    <%= f.text_field :phone_2 %>
  </div>
  <div class="field">
    <%= f.label :email_1 %><br>
    <%= f.text_field :email_1 %>
  </div>
  <div class="field">
    <%= f.label :email_2 %><br>
    <%= f.text_field :email_2 %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :allow_delivery %><br>
    <%= f.check_box :allow_delivery %>
  </div>
  <div class="field">
    <%= f.label :allow_parking %><br>
    <%= f.check_box :allow_parking %>
  </div>
  <div class="field">
    <%= f.label :allow_reservation %><br>
    <%= f.check_box :allow_reservation %>
  </div>
  <div class="field">
    <%= f.label :allow_credit_card %><br>
    <%= f.check_box :allow_credit_card %>
  </div>
  <div class="field">
    <%= f.label :"Select Your district" %><br />
    <%= f.grouped_collection_select :district_id, Province.order(:name), :districts, :name, :id, :name, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
