<%- model_class = Local -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:phone_1) %></th>
      <th><%= model_class.human_attribute_name(:email_1) %></th>
      <th><%= model_class.human_attribute_name(:allow_delivery) %></th>
      <th><%= model_class.human_attribute_name(:allow_parking) %></th>
      <th><%= model_class.human_attribute_name(:allow_reservation) %></th>
      <th><%= model_class.human_attribute_name(:allow_credit_card) %></th>
      <th><%= model_class.human_attribute_name(:restaurant_id) %></th>
      <th><%= model_class.human_attribute_name(:district_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @locals.each do |local| %>
      <tr>
        <td><%= link_to local.id, restaurant_local_path(@restaurant, local) %></td>
        <td><%= local.name %></td>
        <td><%= local.phone_1 %></td>
        <td><%= local.email_1 %></td>
        <td><%= local.allow_delivery %></td>
        <td><%= local.allow_parking %></td>
        <td><%= local.allow_reservation %></td>
        <td><%= local.allow_credit_card %></td>
        <td><%= local.restaurant.name %></td>
        <td><%= local.district.name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_restaurant_local_path(@restaurant, local), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      restaurant_local_path(@restaurant, local),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        <td> <%= link_to 'View Menus', restaurant_local_menus_path(@restaurant, local) %></td>
        <td> <%= link_to 'Shop Menus', shop_restaurant_local_menus_path(@restaurant, local) %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_restaurant_local_path,
            :class => 'btn btn-primary' %>
            
<%= link_to t('.back', :default => t("helpers.links.back")),
            restaurants_path,
            :class => 'btn btn-primary' %>
