<h1>Listing menus in <%= link_to @local.name, restaurant_local_path(@local.restaurant, @local) %></h1>

<table>
  <thead>
    <tr>
      <th>Menu date</th>
      <th>Stock</th>
      <th>Item</th>
      <th>Item Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.menu_date %></td>
        <td><%= menu.stock %></td>
        <td><%= menu.item.name %></td>
        <td><%= menu.item.item_category.name %></td>
        <td>| <%= link_to 'Show', restaurant_local_menu_path(@local.restaurant, @local, menu) %></td>
        <td>| <%= link_to 'Edit', edit_restaurant_local_menu_path(@local.restaurant, @local, menu) %></td>
        <td>| <%= link_to 'Destroy', restaurant_local_menu_path(@local.restaurant, @local, menu), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @menus, renderer: BootstrapPagination::Rails, previous_label: "< Anterior", next_label: "Siguiente >" %>
<br>
<%= link_to 'New Menu', new_restaurant_local_menu_path(@local.restaurant, @local) %>
