<h1>Listing object_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @object_types.each do |object_type| %>
      <tr>
        <td><%= object_type.name %></td>
        <td>| <%= link_to 'Show', object_type %></td>
        <td>| <%= link_to 'Edit', edit_object_type_path(object_type) %></td>
        <td>| <%= link_to 'Destroy', object_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @object_types, renderer: BootstrapPagination::Rails, previous_label: "< Anterior", next_label: "Siguiente >" %>
<br>
<%= link_to 'New Object type', new_object_type_path %>
