<h1>Listing credit_card_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_card_types.each do |credit_card_type| %>
      <tr>
        <td><%= credit_card_type.name %></td>
        <td>| <%= link_to 'Show', credit_card_type %></td>
        <td>| <%= link_to 'Edit', edit_credit_card_type_path(credit_card_type) %></td>
        <td>| <%= link_to 'Destroy', credit_card_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @credit_card_types, renderer: BootstrapPagination::Rails, previous_label: "< Anterior", next_label: "Siguiente >" %>
<br>
<%= link_to 'New Credit card type', new_credit_card_type_path %>
