<%- model_class = OrderDetail -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:unit_price) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:order_id) %></th>
      <th><%= model_class.human_attribute_name(:menu_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= link_to order_detail.id, order_detail_path(order_detail) %></td>
        <td><%= order_detail.quantity %></td>
        <td><%= order_detail.unit_price %></td>
        <td><%= order_detail.total %></td>
        <td><%= order_detail.order_id %></td>
        <td><%= order_detail.menu_id %></td>
        <td><%=l order_detail.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_order_detail_path(order_detail), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      order_detail_path(order_detail),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_detail_path,
            :class => 'btn btn-primary' %>
