<%= form_for([@local.restaurant, @local, @local_photo], html: { multipart: true } ) do |f| %>

  <% if @local_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@local_photo.errors.count, "error") %> prohibited this local_photo from being saved:</h2>

      <ul>
      <% @local_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %><br>
    <%= f.number_field :index %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
