<%= simple_form_for [@user, @item, @restaurant, @user_review], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="field">
    <div id="star-rating"></div>
  </div>
  <%= f.input :comment %>
  <%= error_span(@user_review[:comment]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurant_user_reviews_path, :class => 'btn btn-default' %>
<% end %>

<script>
$('#star-rating').raty({
  path: '/assets/',
  scoreName: 'user_review[rating]'
});
</script>