<h1>Editing user_review</h1>

<%= render 'form' %>

<% if @item != nil %>
    <%= link_to 'Show', restaurant_item_user_review_path(@item.restaurant, @item, @user_review) %> |
    <%= link_to 'Back', restaurant_item_user_reviews_path(@item.restaurant, @item) %>
<% else %>
    <%= link_to 'Show', restaurant_user_review_path(@restaurant, @user_review) %> |
    <%= link_to 'Back', restaurant_user_reviews_path(@restaurant) %>
<% end %>