<% if @item != nil %>
  <h1>Listing user_reviews in <%= link_to @item.name, restaurant_items_path(@restaurant) %></h1>
<% else %>
  <h1>Listing user_reviews in <%= link_to @restaurant.name, @restaurant %></h1>
<% end %>
<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Comment</th>
      <th>Object type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_reviews.each do |user_review| %>
      <tr>
        <td><%= user_review.rating %></td>
        <td><%= user_review.comment %></td>
        <td><%= user_review.object_type_id %></td>
        <% if user_review.item != nil %>
          <td>| <%= link_to 'Show', restaurant_item_user_review_path(@item.restaurant, @item, user_review) %></td>
          <td>| <%= link_to 'Edit', edit_restaurant_item_user_review_path(@item.restaurant, @item, user_review) %></td>
          <td>| <%= link_to 'Destroy', restaurant_item_user_review_path(@item.restaurant, @item, user_review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if user_review.restaurant != nil %>
          <td>| <%= link_to 'Show', restaurant_user_review_path(@restaurant, user_review) %></td>
          <td>| <%= link_to 'Edit', edit_restaurant_user_review_path(@restaurant, user_review) %></td>
          <td>| <%= link_to 'Destroy', restaurant_user_review_path(@restaurant, user_review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @user_reviews, renderer: BootstrapPagination::Rails, previous_label: "< Anterior", next_label: "Siguiente >" %>
<br>
<% if @item != nil %>
  <%= link_to 'New User review', new_restaurant_item_user_review_path %>
<% else %>
  <%= link_to 'New User review', new_restaurant_user_review_path %>
<% end %>