<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @user_review.rating %>
  <div class="star-rating" data-score=<%= @user_review.rating %>></div>
</p>
<p>
  <strong>Comment:</strong>
  <%= @user_review.comment %>
</p>

<p>
  <strong>Object type:</strong>
  <%= @user_review.object_type.name %>
</p>

<p>
  <strong>Object:</strong>
  <%= @user_review.object_id %>
</p>

<%= link_to 'Edit', edit_user_review_path(@user_review) %> |
<%= link_to 'Back', user_reviews_path %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>