<h1>Listing districts in <%= link_to @province.name, country_province_path(@province.country, @province) %></h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.id %></td>
        <td><%= district.name %></td>
        <td>| <%= link_to 'Show', country_province_district_path(@province.country, @province, district) %></td>
        <td>| <%= link_to 'Edit', edit_country_province_district_path(@province.country, @province, district) %></td>
        <td>| <%= link_to 'Destroy', country_province_district_path(@province.country, @province, district), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New District', new_country_province_district_path(@province.country, @province) %>
<%= link_to 'Provinces', country_provinces_path %>
