<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<p>
  <strong>Province:</strong>
  <%= @district.province.id %>
  <%= @district.province.name %>
</p>

<%= link_to 'Edit', edit_country_province_district_path(@province.country, @province, @district) %> |
<%= link_to 'Back', country_province_districts_path(@province.country, @province) %>