<%= form_for @restaurant, html: { multipart: true } do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_1 %><br>
    <%= f.text_field :phone_1 %>
  </div>
  <div class="field">
    <%= f.label :phone_2 %><br>
    <%= f.text_field :phone_2 %>
  </div>
  <div class="field">
    <%= f.label :email_1 %><br>
    <%= f.text_field :email_1 %>
  </div>
  <div class="field">
    <%= f.label :email_2 %><br>
    <%= f.text_field :email_2 %>
  </div>
  <div class="field">
    <%= f.label :web_page %><br>
    <%= f.text_field :web_page %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :instagram %><br>
    <%= f.text_field :instagram %>
  </div>
  <div class="field">
    <%= f.label :allow_point %><br>
    <%= f.check_box :allow_point %>
  </div>
  <div class="field">
    <%= f.label :min_points %><br>
    <%= f.number_field :min_points %>
  </div>
  <div class="field">
    <%= f.label :object_type_id %><br />
    <%= f.collection_select :object_type_id, ObjectType.order(:name),:id,:name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
