<%- model_class = Restaurant -%>

<div class="page-header rest-head">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <a class="btn btn-primary" href="/restaurants/new">New</a>
  <%= form_tag restaurants_path, method: :get, class: 'pull-right' do %>
  	  <%= text_field_tag :search, params[:search], class: 'form-control' %>
  		<%= submit_tag "Search Restaurants", name: nil, class: 'form-control' %>
  <% end %>
</div>

<div class="container rest-list">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <a href="restaurants/<%= restaurant.id %>">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= image_tag restaurant.logo.url(:medium) %> <%= restaurant.name %>
              </h3>
            </div>
            <div class="panel-body">
              <strong>Teléfono</strong>: <%= restaurant.phone_1 %> <br>
              <strong>Correo</strong>: <%= restaurant.email_1 %> <br>
              <strong>Website</strong>: <%= restaurant.web_page %> <br>
            </div>
          </a>
          <div class="panel-footer">
            <% if restaurant.user_reviews.blank? %>
              <div class="star-rating" data-score="0"></div>
            <% else %>
              <div class="star-rating" data-score="<%= restaurant.user_reviews.average(:rating).round(2) %>"></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(".star-rating").raty({
    path: "/assets/",
    readOnly: true,
    score: function() {
      return $(this).attr("data-score")
    }
  });
</script>
