<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @restaurant.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_1) %>:</strong></dt>
  <dd><%= @restaurant.phone_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone_2) %>:</strong></dt>
  <dd><%= @restaurant.phone_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email_1) %>:</strong></dt>
  <dd><%= @restaurant.email_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email_2) %>:</strong></dt>
  <dd><%= @restaurant.email_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:web_page) %>:</strong></dt>
  <dd><%= @restaurant.web_page %></dd>
  <dt><strong><%= model_class.human_attribute_name(:facebook) %>:</strong></dt>
  <dd><%= @restaurant.facebook %></dd>
  <dt><strong><%= model_class.human_attribute_name(:twitter) %>:</strong></dt>
  <dd><%= @restaurant.twitter %></dd>
  <dt><strong><%= model_class.human_attribute_name(:instagram) %>:</strong></dt>
  <dd><%= @restaurant.instagram %></dd>
  <dt><strong><%= model_class.human_attribute_name(:allow_point) %>:</strong></dt>
  <dd><%= @restaurant.allow_point %></dd>
  <dt><strong><%= model_class.human_attribute_name(:min_points) %>:</strong></dt>
  <dd><%= @restaurant.min_points %></dd>
  <dt><strong><%= model_class.human_attribute_name(:logo) %>:</strong></dt>
  <dd><%= image_tag @restaurant.logo.url(:medium) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reviews) %>:</strong></dt>
  <dd><div class="star-rating" data-score=<%= @user_reviews.length %>></div></dd>
  <dd><em><%= "#{@user_reviews.length} reviews" %></em></dd>
</dl>
<p><%= @restaurant.get_upvotes.size %> Likes</p>
<p><%= @restaurant.get_downvotes.size %> DisLike</p>
<%= link_to 'Like', like_restaurant_path(@restaurant), method: :put %> |
<%= link_to "DisLike", dislike_restaurant_path(@restaurant), method: :put %><br><br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              restaurants_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_restaurant_path(@restaurant), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              restaurant_path(@restaurant),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<%= link_to t('.local', :default => t("helpers.links.View_locals")),
              restaurant_locals_path(@restaurant), :class => 'btn btn-default' %>
<%= link_to t('.items', :default => t("helpers.links.View_Items")),
              restaurant_items_path(@restaurant), :class => 'btn btn-default' %>
<%= link_to t('.local', :default => t("helpers.links.New_Users_Review")),
              new_restaurant_user_review_path(@restaurant), :class => 'btn btn-default' %>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:comment) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
    </tr>
  </thead>
  <tbody>
    <% @user_reviews.each do |user_review| %>
      <tr>
        <td><div class="star-rating" data-score=<%= user_review.rating %>></div></td>
        <td><%= user_review.comment %></td>
        <td><%= user_review.user.first_name + ' ' + user_review.user.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
      
      
      
      
      
<script>
 $('.star-rating').raty({
     path: '/assets/',
     readOnly: true,
     score: function(){
         return $(this).attr('data-score')
     }
 });
</script>
