<%= form_for(@user_card) do |f| %>
  <% if @user_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_card.errors.count, "error") %> prohibited this user_card from being saved:</h2>

      <ul>
      <% @user_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_number %><br>
    <%= f.text_field :card_number %>
  </div>
  
  <div class="field">
    <%= f.label :is_default %><br>
    <%= f.check_box :is_default %>
  </div>

  <div class="field">
    <%= f.label :credit_card_type_id %><br />
    <%= f.collection_select :credit_card_type_id, CreditCardType.order(:name),:id,:name, include_blank: true %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
