<h1>Listing countries</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.id %></td>
        <td><%= country.name %></td>
        <td>(<%= country.provinces.count %> provinces)</td>
        <td>| <%= link_to 'Show', country %></td>
        <td>| <%= link_to 'Edit', edit_country_path(country) %></td>
        <td>| <%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>| <%= link_to 'View Provinces', country_provinces_path(country) %></td>
        <td>| <%= link_to 'New Province', new_country_province_path(country) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @countries, renderer: BootstrapPagination::Rails, previous_label: "< Anterior", next_label: "Siguiente >" %>
<br>
<%= link_to 'New Country', new_country_path %>
