<%= form_for([@local.restaurant, @local, @local_card]) do |f| %>
  <% if @local_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@local_card.errors.count, "error") %> prohibited this local_card from being saved:</h2>

      <ul>
      <% @local_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :credit_card_type_id %><br />
    <%= f.collection_select :credit_card_type_id, CreditCardType.order(:name),:id,:name, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
