<%= form_for(@user_favorite) do |f| %>
  <% if @user_favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_favorite.errors.count, "error") %> prohibited this user_favorite from being saved:</h2>

      <ul>
      <% @user_favorite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :object_type_id %><br />
    <%= f.collection_select :object_type_id, ObjectType.order(:name),:id,:name, include_blank: true %>
  </div>
    <div class="field">
    <%= f.label :object_id %><br>
    <%= f.text_field :object_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
