<h1>Listing user_points</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_points.each do |user_point| %>
      <tr>
        <td><%= user_point.quantity %></td>
        <td><%= user_point.restaurant.name %></td>
        <td><%= link_to 'Show', user_point %></td>
        <td><%= link_to 'Edit', edit_user_point_path(user_point) %></td>
        <td><%= link_to 'Destroy', user_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User point', new_user_point_path %>
