<%= form_for([@order, @order_delivery]) do |f| %>
  <% if @order_delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_delivery.errors.count, "error") %> prohibited this order_delivery from being saved:</h2>

      <ul>
      <% @order_delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :user_address_id %><br>
    <%= f.text_field :user_address_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
