<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_delivery.order %>
</p>

<p>
  <strong>User address:</strong>
  <%= @order_delivery.user_address %>
</p>

<%= link_to 'Edit', edit_order_delivery_path(@order_delivery) %> |
<%= link_to 'Back', order_deliveries_path %>
