<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "RestaurantManagement" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">RestaurantManagement</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Link1", "/path1"  %></li>
            <li><%= link_to "Link2", "/path2"  %></li>
            <li><%= link_to "Link3", "/path3"  %></li>
          </ul>
        </div>
      </div>
    </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
    <p><%= link_to 'Welcome', root_path %></p>
    <p><%= link_to 'User Types', user_types_path %></p>
    <p><%= link_to 'Payment Types', payment_types_path %></p>

  <% if user_signed_in? %>
    <p>Mis Datos:</p>
    <ul>
      <li>Email: <%= current_user.email %></li>
      <li>First Name: <%= current_user.first_name %></li>
      <li>Last Name: <%= current_user.last_name %></li>
      <li>Phone 1: <%= current_user.phone_1 %></li>
      <li>User Type: <%= current_user.user_type_id %></li>
      <p><%= image_tag current_user.avatar.url(:thumb) %></p>
    </ul>
	  <% if current_user.user_type_id == 1 %>
	    <p>Soy: WEB MANAGER</p>
	    <p>Mis Links:</p>
	    <ul>
        <li><%= link_to 'Countries / Provinces / Districts', countries_path %></li>
        <li><%= link_to 'Credit Card Types', credit_card_types_path %></li>
        <li><%= link_to 'Object Types', object_types_path %></li>
        <li><%= link_to 'Item Categories', item_categories_path %></li>
        <li><%= link_to 'Food Categories', food_categories_path %></li>
        <li><%= link_to 'My Cards', user_cards_path %></li>
        <li><%= link_to 'My Address', user_addresses_path %></li>
        <li><%= link_to 'My Restaurants / Locals / Local_Photos / Local_Deliveries / Local_Cards / Items / Menus', restaurants_path %></li>
        <li><%= link_to 'My Points', user_points_path %></li>
        <li><%= link_to 'My Shopping Cart', shopping_carts_path %></li>
        <li><%= link_to 'My Orders', orders_path %></li>
      </ul>
    <% elsif current_user.user_type_id == 2 %>
	    <p>Soy: PROVIDER</p>
	    <p>Mis Links:</p>
	    <ul>
        <li><%= link_to 'My Restaurants / Locals / Local_Photos / Local_Deliveries', restaurants_path %></li>
      </ul>
    <% elsif current_user.user_type_id == 3 %>
	    <p>Soy: CUSTOMER</p>
	    <p>Mis Links:</p>
	    <ul>
        <li><%= link_to 'My Cards', user_cards_path %></li>
        <li><%= link_to 'My Address', user_addresses_path %></li>
        <li><%= link_to 'My Points', user_points_path %></li>
      </ul>
    <% else %>
      <p>Soy: NADIE</p>
	  <% end %>
	  
	  <p><%= link_to 'Cerrar sessión', destroy_user_session_path, method: :delete %></p>
	  <p><%= link_to "Edit Account", edit_user_registration_path %></p>
  <% else %>
	  <p><%= link_to 'Crea una cuenta gratis', new_user_registration_path %></p>
	  <p>Si ya tienes una cuenta <%= link_to 'Logueate', new_user_session_path %></p>
  <% end %>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Sidebar</h3>
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><%= link_to "Link1", "/path1"  %></li>
              <li><%= link_to "Link2", "/path2"  %></li>
              <li><%= link_to "Link3", "/path3"  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2015</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
